<form (ngSubmit)="onSubmit()" #myForm="ngForm" class="example-container">
  <input matInput type="hidden" id="id" required [(ngModel)]="role.id" name="id">
  <!-- <mat-form-field> -->
    <input matInput placeholder="Enter your email" [(ngModel)]="role.name" #name="ngModel" name="name" id='name'
      required>
    <mat-error *ngIf="name.invalid "> Name is required</mat-error>
  <!-- </mat-form-field> -->

  <mat-checkbox name="isActive" id="isActive" [(ngModel)]="role.isActive" name="isActive">Is
    Active</mat-checkbox>
  <!-- <div class="form-group">
    <input type="hidden" id="id" required [(ngModel)]="role.id" name="id">
    <label for="name">Name</label>
    <input type="text" class="form-control"  #name="ngModel" name="name" id='name' required [(ngModel)]="role.name">
    <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
          Name is required
        </div>
  </div>

  <div class="form-check">
      <input type="checkbox" class="form-check-input" id="isActive" [(ngModel)]="role.isActive" name="isActive">
      <label class="form-check-label" for="isActive"> Is Active</label>

  </div> -->

  <button mat-raised-button color="primary" type="submit" [disabled]="!myForm.form.valid">Save</button>
</form>
