<div *ngIf="isInited">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="example-container">
    <input type="hidden" formControlName="id">
    <mat-form-field>
      <mat-label>Enter user name</mat-label>
      <input matInput placeholder="Enter user name " formControlName="name" name="name">
      <mat-error *ngIf="form.controls.name.invalid "> Name is required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Roles" formControlName="roleIds" multiple>
        <mat-option *ngFor="let role of allRoles" [value]='role.id'>{{role.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-checkbox name="isLockedOut" id="isLockedOut" formControlName="isLockedOut" name="isLockedOut">Is Locked Out</mat-checkbox>

    <!-- <div class="form-group">
                  <input type="hidden" id="id" required [(ngModel)]="role.id" name="id">
                  <label for="name">Name</label>
                  <input type="text" class="form-control"  #name="ngModel" name="name" id='name' required [(ngModel)]="role.name">
                  <div [hidden]="name.valid || name.pristine"
                           class="alert alert-danger">
                        Name is required
                      </div>
                </div>

                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="isActive" [(ngModel)]="role.isActive" name="isActive">
                    <label class="form-check-label" for="isActive"> Is Active</label>

                </div> -->

    <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Save</button>
    <!-- <div class="row">
              <div class="col-sm-8">
                <div class="form-group">
                  <input type="text" class="form-control" [ngClass]="{'form-control-danger': form.controls['name'].invalid && (form.dirty || form.touched)}"
                    formControlName="name" placeholder="User Name" required>
                </div>
              </div>
              <div class="col-sm-2 offset-sm-2">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" formControlName="isLockedOut">
                  <label class="form-check-label" for="isLockedOut"> Is Locked Out</label>
                </div>
              </div>
            </div>
            <select formControlName="roleIds" multiple>
                <option *ngFor="let role of allRoles" [value]='role.id' >{{role.name}}</option>
              </select>
            <div class="row">
              <div class="col-sm-8">
                <div class="form-group">

                </div>
              </div>
            </div>

            <div class="row">
              <div class="offset-sm-7 col-sm-5">
                <div class="form-group">
                  <button type="submit" class="form-control btn btn-primary">Save</button>
                </div>
              </div>
            </div> -->
  </form>
</div>
